---
import { AppUrls } from "../../../utils/enumerators";
import NavBarSearchBar from "../../features/react/NavBarSearchBar.jsx";
import Symbol from "../../ui/astro/Symbol.astro";
const currentUser = await Astro.session?.get("user");
import DropDown from "../../layout/astro/DropDown.astro";
---

<nav
  class="flex items-center gap-4 px-8 py-4 bg-blue-950 text-white text-base relative"
>
  <a href={AppUrls.HomePage} class="flex items-center gap-2 mr-6">
    <span class="font-semibold tracking-wide text-base">NebulousNova</span>
  </a>
  <div class="flex-grow-2 relative">
    <NavBarSearchBar client:load />
  </div>
  {
    currentUser ? (
      <>
        <DropDown
          className="bg-primary"
          position="bottomLeft"
          label={currentUser.email.slice(0, 1).toUpperCase()}
        >
          <li class="my-1">
            <a href={AppUrls.ProfilePage}>
              <Symbol iconName="profile" />
              Profile
            </a>
          </li>
          <li class="my-1">
            <a href={AppUrls.ProfilePage}>
              <Symbol iconName="orders" />
              Orders
            </a>
          </li>
          <li class="my-1">
            <a href={AppUrls.ProfilePage}>
              <Symbol iconName="favourites" />
              Favourites
            </a>
          </li>
          <hr class="my-1 border-t border-white/20" />
          <li class="my-1">
            <a class="text-error" href={AppUrls.LogoutAPI}>
              <Symbol iconName="logout" />
              Logout
            </a>
          </li>
        </DropDown>
      </>
    ) : (
      <>
        <a
          class="link link-hover flex items-center gap-2 ms-auto"
          href={AppUrls.LoginPage}
        >
          <Symbol iconName="login" />
          Login
        </a>
        <a
          class="link link-hover flex items-center gap-2"
          href={AppUrls.RegisterPage}
        >
          <Symbol iconName="register" />
          Register
        </a>
      </>
    )
  }
</nav>
