---
const {
  imageSrc,
  size = "medium",
  shape = "rounded",
  class: className,
} = Astro.props;
const sizeMapping = {
  small: "w-16",
  medium: "w-20",
  large: "w-32",
};
const shapeMapping = {
  circle: "rounded-full",
  square: "rounded-none",
  rounded: "rounded-md",
};
const baseClass = "avatar";
const globalClass = `${baseClass} ${className || ""}`;
---

<div class={globalClass}>
  <div class={`${sizeMapping[size]} ${shapeMapping[shape]}`}>
    <img src={imageSrc} />
  </div>
</div>
