---
const { variant = "page", class: className, ...rest } = Astro.props;
const variantMapping = {
  page: "text-5xl font-semibold",
  section: "text-3xl font-semibold",
  article: "text-2xl font-semibold",
};
const baseClass = "";
const variantClass = variantMapping[variant] || "";
const globalClass = `${baseClass} ${variantClass} ${className || ""}`;
---

{
  variant === "page" && (
    <h1 class={globalClass} {...rest}>
      <slot />
    </h1>
  )
}
{
  variant === "section" && (
    <h2 class={globalClass} {...rest}>
      <slot />
    </h2>
  )
}
{
  variant === "article" && (
    <h3 class={globalClass} {...rest}>
      <slot />
    </h3>
  )
}
{
  !["page", "section", "article"].includes(variant) && (
    <h1 class={globalClass} {...rest}>
      <slot />
    </h1>
  )
}
