---
import Form from "../../ui/astro/Form.astro";
import Label from "../../ui/astro/Label.astro";
import Input from "../../ui/astro/Input.astro";
import Anchor from "../../ui/astro/Anchor.astro";
import Button from "../../ui/astro/Button.astro";
import { AppUrls } from "../../../utils/enumerators";
const { error, formInfo } = Astro.props;
---

<Form error={error} method="POST" action={AppUrls.LoginPage}>
  <div class="flex flex-col gap-2">
    <Label for="email">email</Label>
    <Input id="email" type="email" name="email" value={formInfo.email} />
  </div>
  <div class="flex flex-col gap-2">
    <Label for="password">password</Label>
    <Input
      id="password"
      type="password"
      name="password"
      value={formInfo.password}
    />
  </div>
  <Button type="submit" class="mt-4">Submit</Button>
  <p
    class="text-center text-sm flex flex-col md:flex-row items-center justify-center gap-2"
  >
    <span>Don't have an account ?</span>
    <Anchor href={AppUrls.RegisterPage}>Register now! </Anchor>
  </p>
</Form>
